


<form [formGroup]="loginForm">
    <div class="container">
     <div class="mb-3">
        <label class="from-lable">
            To Do
        </label>
        <input type="text" formControlName="todo" class="form-control">
    </div>
    <div class="mb-3">
        <label class="from-lable">
            Completed
        </label>
        <select formControlName="completed" class="form-select form-select-lg mb-3">
            <option value="true">True</option>
            <option value="flase">Flase</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="from-lable">
            User Id
        </label>
        <input type="text" formControlName="userId" class="form-control">
    </div>
    
    <div class="mb-3"> 
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
    </div>
    </div>
</form>
<!-- Loader -->
<div *ngIf="loading" class="text-center my-3">
    <div class="spinner-border text-primary"></div>
  </div>
<table class="table table-boarder">
    <thead>
    <tr>
        <th scope="col">
            Todo
        </th>
        <th scope="col">
            Completed
        </th>
        <th scope="col">
            User Id 
        </th>
    </tr>
    </thead>
    <tbody>
       
    @for (user of todos; track user.id) {
    <tr>
        
         <td>
             {{user.todo}}
        </td>
         <td>
             {{user.completed}}
        </td>
         <td>
             {{user.userId}}
        </td>
    </tr>
     }
    
     </tbody>
</table>
<!-- Pagination -->
<nav class="mt-3">
    <ul class="pagination justify-content-center">

      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)">
          Previous
        </button>
      </li>

      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1"
      >
        <button class="page-link" (click)="changePage(i + 1)">
          {{ i + 1 }}
        </button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)">
          Next
        </button>
      </li>

    </ul>
  </nav>
